@import "../../scss/variables";

.input {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px; 

    @media(min-width: $lg) {
        flex-direction: row;
        justify-content: space-between;
    }

    .input-field {
        border-radius: 10px;
        box-shadow: 1px 1px 5px rgba($darkGray, 0.6);
        padding: 20px;

        @media(min-width: $lg) {
            width: 400px;
        }
        

        i {
            margin-right: 10px;
        }
        
        input {
            border: none;
        }
    }
    
    .filter-field {
        position: relative;
        width: 240px;
        margin-top: 30px;

        @media (min-width: $lg) {
            margin-top: 0;
        }
    }
}