@import "../variables";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

main {
    width: 100%;
    overflow: hidden; 
    background-color: $veryLightGray;
    color: $veryDarkBlueText;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

img,
svg,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    border: 2px solid transparent;
    background-color: transparent;
    appearance: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

input:focus {
    outline: none;
}

nav,
section {
    padding: 0 15px;

    @media(min-width: 500px) {
        padding: 0 30px;
    }

    @media(min-width: $sm) {
        padding: 0 50px;
    }

    @media(min-width: $lg) {
        padding: 0 60px;
    }

    @media(min-width: $xl) {
        padding: 0 80px;
    }
}

.Light {
    background-color: $veryLightGray;
    color: $veryDarkBlueText;
    transition: all .5s ease;

    .header {
        background-color: $white;
    }

    input {
        color: $darkGray;
    }

    .option,
    .select,
    input {
        box-shadow: 1px 1px 5px rgba($darkGray, 0.6);
    }

    .option,
    .select,
    input,
    .filter-options {
        background-color: $white;
    }

    .mode {
        color: $veryDarkBlueText;
        background-color: $white;   
    }

    i {
        color: $darkGray;

        
    }

    .card {
        background-color: $white;
    }

    .spinner::after {
        border: 5px solid $darkBlue;
        border-color: $darkBlue transparent $darkBlue transparent;
    }
}

.Dark {
    color: $white;
    background-color: $veryDarkBlue;
    transition: all .5s ease;

    input,
    .option,
    .filter-options,
    .select,
    i {
        color: $white;
        box-shadow: none;
        background-color: $darkBlue
    }


    .header {
        background-color: $darkBlue;
    }

    button {
        background-color: $darkBlue;
        color: $white;
    }

    .card {
        color: $white;
        background-color: $darkBlue;
    }

    .spinner::after {
        border: 5px solid $white;
        border-color: $white transparent $white transparent;
    }

}
