// typography rules and typography helper classes
@import "../variables";

body {
    font-size: 14px;
    
    h1 {
        font-size: 24px;
        line-height: 40px;
        font-weight: 800;

        @media(min-width: $md) {
            font-size: 26px;
        }
        
        @media(min-width: $lg) {
            font-size: 30px;
        }
    }

    h2 {
        font-size: 14px;
        line-height: 40px;
        font-weight: 800;

        @media(min-width: $sm) {
            font-size: 18px;
        }

        @media(min-width: $md) {
            font-size: 22px;
        }

        @media(min-width: $lg) {
            font-size: 24px;
        }
    }

    h3 {
        font-size: 20px;
        font-weight: 800;
    }

    h4 {
        font-size: 18px;
        font-weight: 800;
    }

    h5 {
        font-size: 12px;
        font-weight: 300;

        @media(min-width: $sm) {
            font-size: 14px;
        }

        @media(min-width: $md) {
            font-size: 16px;
        }
    }

    p { 
        font-weight: 300;

        @media(min-width: $sm) {
            font-size: 16px;
            line-height: 15px;
        }
    }


    a {
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        font-size: 13px;
    }

    strong {
        font-weight: 600;
    }
}