@import "../../scss/variables";

.card {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(#000000, 0.2);
    text-align: left;
    margin: 15px 5px 20px 5px;
    transition: .5s ease;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    overflow-wrap: break-word;
    max-width: 260px;

    &:hover {
        box-shadow: 0 0 40px -10px;
        transform: translateY(-10px);
    }

    &:first-child {
        margin-top: 35px;

        @media(min-width: 600px) {
            margin-top: 15px;
        }

        @media(min-width: 740px) {
            margin-top: 40px;
        }
    }

    @media (min-width: 740px) {
        margin: 40px 5px 40px 5px;
    }

    @media(min-width: $md) {
        margin: 40px 10px;
    }

    @media(min-width: 800px) {
        margin: 40px 20px;
    }

    @media(min-width: $lg) {
        margin: 40px 0;
    }

    @media(min-width: 1100px) {
        margin: 40px 10px;
    }

    @media(min-width: 1230px) {
        margin: 35px 0;
    }

    .img-container {
        height: 160px;
        width: 260px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 1px solid rgba(#000000, .1);
        overflow: hidden;

        img {
            width: 260px;
            height: 160px;
            object-fit: fill;
        }
    }

    h4 {
        margin: 25px 0 10px 0;
        padding: 0 25px;
    }
    
    .country-details {
        padding: 0 30px 50px 25px;

        span {
            display: block;
            padding: 5px 0 0 0;
        }
    }   
}