@import "../../scss/variables";

.card {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(#000000, 0.2);
    text-align: left;
    transition: .5s ease;
    position: relative;
    cursor: pointer;
    overflow-wrap: break-word;
    

    &:before, 
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transition: .3s ease;
        z-index: -1;
        border-radius: 5px;
    
    }

    &:before {
        bottom: 0;
        right: 0;
    }

    &:after {
        top: 0;
        left: 0;
    }

 
    &:hover {
        //box-shadow: 0 0 40px -10px;
        //transform: translateY(-10px);
        &:before {
            bottom: 20px;
            right: 20px;
            box-shadow: 0 0 40px -30px;
        }
          
        &:after {
            top: 20px;
            left: 20px;
            box-shadow: 0 0 40px -30px;
        }
    }

    .img-container {
        height: 160px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 1px solid rgba(#000000, .1);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-height: 100%;
        }
    }

    h4 {
        margin: 25px 0 10px 0;
        padding: 0 25px;
    }
    
    .country-details {
        padding: 0 30px 50px 25px;

        span {
            display: block;
            padding: 5px 0 0 0;
        }
    }   
}