@import "../../scss/variables";

.countries-content {
    padding-bottom: 150px;
    
    
    .countries,
    .filtered {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        

        @media(min-width: 600px) {
            margin-top: 30px;
        }
        
        @media(min-width: $sm) {
            justify-content: space-around;
        }

        @media(min-width: 740px) {
            margin-top: 0;
        }
        
        @media(min-width: $lg) {
            justify-content: space-between;
            margin-top: 10px;
        }
    }

    .filtered {

        @media(min-width: $md) {
            justify-content: left;
        }
        
        @media(min-width: $lg) {
            justify-content: left;
            margin: 10px 30px 10px 30px;
            
            &:first-child {
                margin-left: 0;
            }
        }

        .card {

            @media(min-width: $lg) {
                margin-right: 30px;
            }            
        }
    }

    .more {
        text-align: center;
    }
}

