@import "../../scss/variables";

.single-country {
    margin: 0 auto;
    padding-bottom: 50px;

    .single-country-container {
        display: flex;
        flex-direction: column;
        padding: 50px 20px;

        @media(min-width: $lg) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        img {
            max-width: 500px;
        }

        
    }
}