@import "../../scss/variables";

.countries {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    

    @media(min-width: $lg) {
        xxjustify-content: space-around;
    }
}