@import "../../scss/variables";

header {
    

    nav {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
        margin: 0 auto;
        box-shadow: 0 10px 10px -10px rgba($color: $darkGray, $alpha: 0.6);

        .mode {
            display: flex;
            align-items: center;

            i {
                margin-right: 15px;
            }
        }
    }
}