@import "../../scss/variables";

header {
    box-shadow: 0 10px 10px -10px rgba($color: $darkGray, $alpha: 0.2);
    position: relative;
    margin-bottom: 20px;

    @media(min-width: $md) {
        margin-bottom: 50px;
    }
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;

        @media(min-width: $md) {
            padding-top: 0;
            padding-bottom: 0;
        }

        .mode {
            display: flex;
            align-items: center;
            padding-right: 0;

            i {
                margin-right: 8px;

                @media(min-width: $md) {
                    margin-right: 12px;
                }
                
            }
        }
    }
}