@import "../../scss/variables";


.filter {
    position: relative;
    margin-top: 50px;


    @media(min-width: $md) {
        margin-top: 30px;
        margin-left: 10px;
    }

    .option,
    .select {
        border-radius: 5px;
        box-shadow: 1px 1px 5px rgba($darkGray, 0.6); 
        background-color: $white;       
      }

    .option {
        padding: 20px 20px 20px 30px;

        @media(min-width: $md) {
            padding: 20px 10px 20px 10px;
        }

        @media(min-width: $lg) {
            padding: 20px 20px 20px 30px;
        }

        i {
          margin-left: 90px;
          transform: rotateY(0deg) translateY(0);
          transition: transform .5s ease;

          &.is-open {
            transform: rotateX(180deg) translateY(0);
            
          }
        } 
    }

    .select {  
        position: absolute;
        top: 70px;
        z-index: 2;
        cursor: pointer;
    } 


    .filter-options { 
        display: none;
        background-color: $white;
        z-index: 1;
        border-radius: 5px;
        width: 250px;
        padding: 10px 0;

        &.is-open {
            display: block;
        }

        .filter-option {
            padding: 10px 20px 10px 30px;

            &:hover {
                background-color: $veryLightGray;
            }
        }
    }      
}