@import "../../scss/variables";


.input {
    flex: 70%;
    display: flex;
    align-items: center;
    
    i {
        position: absolute;
        margin-left: 30px;
        font-size: 18px;
        
    }
 
    input[type=text] {
        border: none;
        padding: 20px 0 20px 70px;
        width: 100%;
        border-radius: 5px;

        @media(min-width: $md) {
            width: 400px;
        }

        @media(min-width: $lg) {
            width: 480px;
        }

    }
}


